
//colores
$colortitulo: hsl(0, 0%, 0%);
$colorfondo: hsl(47, 83%, 84%);
$colorFondoNav: hsl(0, 0%, 3%);
$colorLinknav: hsl(195, 2%, 67%);
$coloramarillo: hsl(58, 99%, 59%);
$letraDetalle: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//tipografias
