@charset "UTF-8";
body {
  background-image: url("/imagenes/fondo blanco.jpeg");
  background-repeat: repeat;
  background-size: cover;
}

.tituloSección {
  margin-bottom: 6%;
  background-color: hsl(58, 99%, 59%);
  background-size: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.carrito {
  background-color: hsl(58, 99%, 59%);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 5%;
}
.carrito:hover {
  background-color: black;
  color: hsl(58, 99%, 59%);
}

/* Navbar colores */
h3.text-info {
  color: black !important;
}

i.text-info {
  color: hsl(58, 99%, 59%) !important;
}

h5.text-info {
  color: hsl(58, 99%, 59%) !important;
}

a.text-info {
  color: hsl(58, 99%, 59%) !important;
}

.navbar-nav > li:hover {
  background-color: hsl(58, 99%, 59%);
}

a.nav-link {
  color: hsl(195, 2%, 67%);
}

a.nav-link:hover {
  color: black;
}

.navbar {
  background-color: hsl(0, 0%, 3%);
}

#menuLateral {
  background-color: hsl(0, 0%, 3%);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*Card de hamburguesas*/
.hamburguesasCard {
  background-color: bisque;
  padding: 2%;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-row: auto auto auto;
  grid-template-areas: "imgH tituloH" "imgH precioH" "imgH buttonH";
}

.buttonHamburguesas {
  background-color: hsl(58, 99%, 59%);
  border-radius: 15px;
  width: 100%;
  grid-area: buttonH;
}
.buttonHamburguesas:hover {
  background-color: black;
  color: hsl(58, 99%, 59%);
}

.imgHamburguesas {
  border-radius: 15px;
  width: 90%;
  grid-area: imgH;
}

.tituloHamburguesas {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 4%;
  grid-area: tituloH;
}

.precioHamburguesas {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: precioH;
}

/*Opcion seleccionada*/
.hamburguesasSeleccionado {
  background-color: bisque;
  padding: 2%;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-row: auto auto auto auto;
  grid-template-areas: "imgHS tituloHS" "imgHS precioHS" "detalle detalle" "buttonHS atras";
}

.detalle {
  display: flex;
  margin-top: 4%;
  grid-area: detalle;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.agregarAlCarrito {
  background-color: hsl(58, 99%, 59%);
  border-radius: 15px;
  width: 100%;
  grid-area: buttonHS;
}
.agregarAlCarrito:hover {
  background-color: black;
  color: hsl(58, 99%, 59%);
}

.atras {
  background-color: hsl(58, 99%, 59%);
  border-radius: 15px;
  width: 100%;
  grid-area: atras;
}
.atras:hover {
  background-color: black;
  color: hsl(58, 99%, 59%);
}

.imgHamburguesasSeleccionado {
  border-radius: 15px;
  width: 90%;
  grid-area: imgHS;
}

.tituloHamburguesasSeleccionado {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 4%;
  grid-area: tituloHS;
}

.precioHamburguesasSeleccionado {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: precioHS;
}

/*Nosotros*/
#textoNosotros {
  color: hsl(58, 99%, 59%);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Footer*/
footer {
  margin-top: 2%;
}

div.footerRedes {
  display: flex;
  align-content: end;
  justify-content: end;
  margin-right: 2%;
}

@media screen and (min-width: 40px) {
  /*Seleccion de productos en index*/
  .productos {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .imgproducto {
    width: 100%;
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .tituloSección {
    padding: 5%;
  }
}
@media screen and (min-width: 800px) {
  /*Seleccion de productos en index*/
  .productos {
    margin: 2%;
  }
  #producto1 {
    display: grid;
    grid-area: producto1;
  }
  #producto2 {
    display: grid;
    grid-area: producto2;
  }
  #producto3 {
    display: grid;
    grid-area: producto3;
  }
  #producto4 {
    display: grid;
    grid-area: producto4;
  }
  .conjuntoProductos {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "producto1 producto2" "producto3 producto4";
  }
  .imgproducto {
    width: 100%;
    border-radius: 5%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .tituloSección {
    padding: 2%;
  }
  .hamburguesasCard {
    width: 50%;
  }
  #opciones {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */